.butn {
    background-color: #2A3D45;
    cursor: pointer;
    color: #DDC9B4;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

#main-body {
    margin: auto;
    width: 800px;
    border: 5px solid #2A3D45;
    background-color: #C17C74;
    padding: 20px;
    border-radius: 25px;
    color: #DDC9B4;
}

#sketchpad {
    background-color: white;
    border-radius: 5px;
}

body {
    background-color: #DDC9B4;
}