body {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
#schedule{
  overflow-y:auto
}
main {
  width: 90%;
  background-color: var(--tan);
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  background-color: var(--navy);
}
h1{
  font-size: 5em;
  padding-left: 5%;
}

aside img{
  width: 80px;
  transition: .3s ease-in-out;
  margin-bottom: 30px;
}
aside img:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

.butn {
    background-color: black;
    /* Green */
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
