body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
main {
  width: 90%;
  background-color: var(--navy);
}
aside {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10%;
  background-color: var(--tan);
}
aside img {
  width: 80px;
  margin-bottom: 30px;
}
aside a{
  transition: .3s ease-in-out;
}
aside a:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
h1,h3{
    color: var(--tan);
}
h3{
  margin: 1%;
  padding-bottom: 3%;
  font-size: 4em;
}
h1{
  font-size: 5em;
  padding-left: 5%;
}
#content{
  margin: auto;
  width: 85%;
  height: 60%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23DECBB2FF' stroke-width='20' stroke-dasharray='50' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
  padding: 20px;
  border-radius: 25px;
  color: var(--navy);
  display: flex;
  flex-direction: column;
}
input[type=text]{
  border-radius: 16px;
  /* height: 30%; */
  display: inline;
  font-size: 3em;
  color: var(--navy);
  /* padding: 5%; */
}
