#schedule .list-group-item {
  color: var(--navy);
  background-color: var(--tan);

}
body{
  display: flex;
background-color: var(--tan);
}
a {
  color: var(--navy);
}
.btn-navy{
  color: var(--tan);
  background-color: var(--navy);
}
h1{font-size: 5em;}
main {
  width: 90%;
}


aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 10%;
  background-color: var(--navy);
}
aside img{
  width: 80px;
  transition: .3s ease-in-out;
  margin-bottom: 30px;
}

aside img:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
