@font-face {
    font-family: 'Aleo';
    src: url('assets/Aleo-RegularItalic.woff2') format('woff2'),
        url('assets/Aleo-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('assets/Aleo-Bold.woff2') format('woff2'),
        url('assets/Aleo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('assets/Aleo-Light.woff2') format('woff2'),
        url('assets/Aleo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('assets/Aleo-Regular.woff2') format('woff2'),
        url('assets/Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('assets/Aleo-BoldItalic.woff2') format('woff2'),
        url('assets/Aleo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aleo';
    src: url('assets/Aleo-LightItalic.woff2') format('woff2'),
        url('assets/Aleo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}
body, input[type=text], input[type=submit]{
  font-family: "Aleo", serif;
}
:root{
  --navy: #283D46;
  --tan: #DECBB2;
  --beige: #BDAE9A;
  --brown: #7B6D5C;
  --pink: #C87672;
}
